@import '../../../scss/constants.scss';

.table-head {
  display: block;
  width: 100%;

  &__row {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid $pinball;

    @media #{$tablet-and-less} {
      flex-direction: column;
      gap: 10px;
      width: max-content;
      padding: 0 0 30px;
      border: none;
    }
  }

  &__cell {
    flex: 1 1 100%;
    padding: 0 12px;
    color: $pinball;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;

    @media #{$tablet-and-less} {
      font-size: 0.8em;
    }
  }
}
