@import '../../common/scss/constants.scss';

.table {
  display: block;
  width: 100%;
  margin-top: 10px;
  text-align: left;

  &__section {
    display: block;
    width: 100%;
  }

  &__row {
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid $pinball;
  }

  &__cell {
    display: inline-block;
    padding: 0 12px;
  }

  &__th {
    color: $pinball;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;

    &__name {
      width: 24%;
    }

    &__nip {
      width: 16%;
    }

    &__value,
    &__date {
      width: 30%;
    }
  }

  &__td {
    color: $night-dive;
    font-size: 17px;
    font-weight: 700;

    &__name {
      width: 24%;
    }

    &__nip {
      width: 16%;
    }

    &__value,
    &__date {
      width: 30%;
    }
  }
}
