@import '../../../common/scss/constants.scss';

.cell {
  flex: 1 1 100%;
  padding: 0 12px;
}

.cell--head {
  color: $pinball;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.cell--body {
  color: $night-dive;
  font-size: 17px;
  font-weight: 700;
}
